body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a3d62;
  padding: 15px 30px;
  position: sticky;
  top: 0;
}

.logo {
  width: 90px;
}

.nav-links a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.btn {
  background: #27ae60;
  padding: 8px 15px;
  border-radius: 5px;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #27ae60;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* SERVICES */
.services {
  padding: 40px;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  margin: 15px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* CTA SECTION */
.cta-section {
  text-align: center;
  padding: 50px;
  background: #ecf0f1;
}

/* FOOTER */
footer {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 20px;
}